body {
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgb(210, 210, 210);
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 169);
    border: 1px solid rgb(0, 0, 169);
    color: white;
}

button:hover {
    color:rgb(0, 0, 169);
    background-color: rgb(255, 140, 0);
    border: 1px solid rgb(255, 140, 0);
}
section {
    margin: 20px;
}
ul{
    list-style-type: none;
    padding:0px;
    border: 1px solid red;
    width: 550px;
    margin: auto;
    position: relative;
    
}


li {
    display: flex;
    margin-right:auto;
    margin: 10px 0px 10px 0px;
}

.police{
    margin: 0px;
    display: flex;
    margin-left:auto;
}

.hidden {
    display: none;
}